<ion-view title="Agregar amigo" id="agregarAmigo">
    <ion-content padding="true" class="has-header">
        <label class="item item-input">
              <input type="text" placeholder="Usuario de la PUJ de tu amigo sin @javeriana.edu.co" id="nombreAmigo"  autocorrect="off" autocapitalize="none">
          </label>
        <button id="listaDeAmigos-button13" class=" button button-positive  button-block icon-left ion-android-person-add " ng-click="agregarAmigo()">Agregar Amigo</button>
    </ion-content>
</ion-view>