<ion-view title="Configuración" id="page7">
    <ion-content padding="true" class="has-header">
        <ion-list id="configuraciN-list1">
            <ion-item class="item-avatar positive  " id="configuraciN-list-item8">
                <h2positive>{{nombreUsuario}}</h2positive>
            </ion-item>
            <ion-item class="item-icon-left  " id="configuraciN-list-item9">
                <i class="icon ion-android-settings"></i>Calibrar Nubi</ion-item>

        </ion-list>
    </ion-content>
</ion-view>