<ion-view title="Crear Alerta Grupo" id="page17">
    <ion-content padding="true" class="has-header">
        <form id="crearAlertaGrupo-form8" class="list ">
            <label class="item item-input " id="crearAlertaGrupo-input2">
                <span class="input-label">Fecha</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input " id="crearAlertaGrupo-input3">
                <span class="input-label">Hora</span>
                <input type="time" placeholder="">
            </label>
        </form>
        <h3 id="crearAlertaGrupo-heading5" style="color:#000000;">Tipo</h3>
        <form id="crearAlertaGrupo-form9" class="list ">
            <label class="item item-select " id="crearAlertaGrupo-select1">
                <span class="input-label">Tipo</span>
                <select>
                    <option>---</option>
                    <option>Restaurantes</option>
                    <option>Fotocopiado e impresion</option>
                    <option>Sitios de estudio</option>
                </select>
            </label>
        </form>
        <h3 id="crearAlertaGrupo-heading6" style="color:#000000;">Lugar</h3>
        <form id="crearAlertaGrupo-form10" class="list ">
            <label class="item item-select " id="crearAlertaGrupo-select2">
                <span class="input-label">Lugar</span>
                <select></select>
            </label>
        </form>
        <button id="crearAlertaGrupo-button25" class=" button button-positive  button-block ">Enviar a Grupo</button>
    </ion-content>
</ion-view>