<ion-view title="Crear Alerta Grupo {{nombreGrupo}}" id="page17">
    <ion-content padding="true" class="has-header">
        <form id="crearAlertaGrupo-form8" class="list ">
        </form>
        <h3 id="crearAlertaGrupo-heading5" style="color:#000000;">Tipo</h3>
        <form id="crearAlertaGrupo-form9" class="list ">
            <label class="item item-select " id="crearAlertaGrupo-select1">
                <span class="input-label">Tipo</span>
                <select ng-change="cambioTipo(tipoSeleccionado)" ng-model=tipoSeleccionado>
                    <option ng-repeat="item in tipos" ng-value="item.name" ng-click="cambioTipo('{{item}}')">{{item.name}}</option>
             </select>
                
            </label>
        </form>
        
        <form id="crearAlertaGrupo-form10" class="list " ng-show="seleccionTipo">
        <h3 id="crearAlertaGrupo-heading6" style="color:#000000;">Lugar</h3>
            <label class="item item-select " id="crearAlertaGrupo-select2">
                <span class="input-label">Lugar</span>
                <select ng-change="cambioServicio(servicioSeleccionado)" ng-model=servicioSeleccionado>
                    <option ng-repeat="servicio in ubicacionesCargadas" ng-value="servicio.message" ng-click="cambioServicio('{{item}}')">{{servicio.message}}</option>
             </select>
            </label>
        </form>
        <label class="item item-input" ng-show="todoSeleccionado">
              <input type="text" placeholder="Agrega un comentario (opcional)" id="comentarioGrupo"  autocorrect="on">
          </label>
        <button id="crearAlertaGrupo-button25" class=" button button-positive  button-block " ng-show="todoSeleccionado" ng-click="enviarAlertaGrupo()">Enviar a Grupo</button>
    </ion-content>
</ion-view>