<ion-view title="Grupo" id="page14">
    <ion-content padding="true" class="has-header">
        <h3 id="grupo-heading4" style="color:#000000;">{{nombreGrupo}}</h3>
        <ion-list id="grupo-list8">
            <ion-item class="item-avatar  " id="grupo-list-item37" ng-repeat="usuariosGrupo in usuariosGrupoCargados">
                <img src="css/img/userIcon.png">
                <h2>{{usuariosGrupo}}</h2>
            </ion-item>
        </ion-list>
        <a id="grupo-button23" class=" button button-positive  button-block " ng-click="crearAlertaGrupo()">Crear Alerta</a>
        <button id="grupo-button24" class=" button button-assertive  button-block icon-right ion-android-exit " ng-click="eliminarGrupo()">Eliminar grupo</button>
    </ion-content>
</ion-view>