<ion-view title={{nombreServicio}} id="page10">
    <ion-nav-buttons side="right">
        <button ng-click="mostrarRuta()" class="button button-icon icon ion-android-map" ng-disabled="panelNotificacionActivado">{{botonRuta}}</button >
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">
        
 
         <div id="contenedor">
            <leaflet data-tap-disabled="true"  width="100%" height="300px" center="center" defaults="defaults" markers="markers" paths="paths" ng-show="botonBuscarRuta" ></leaflet>
            <img src='{{imagenServicio}}' ng-show="botonMostarImagen" id="contenedorImagen">
            <div id="favorito" ng-hide="panelNotificacionActivado" ng-click="cambiarFavorito()"></div>
            <div id="panelNotificacion" ng-show="panelNotificacionActivado">
                <div id="notificacionVacio" ng-click="seleccionDisponibilidad('Libre')">Libre</div>
                <div id="notificacionMedio" ng-click="seleccionDisponibilidad('Medio')">Medio</div>
                <div id="notificacionLleno" ng-click="seleccionDisponibilidad('Lleno')">Lleno</div>
                  <form ng-show="notificacionSeleccionada">
                  <h4 id="textoComentario" ng-show="notificacionSeleccionada">Escribe un comentario (opcional)</h4>
                  <input type="text" name="comentario" id="comentario">
                    </form>
                <div id="cancelar" ng-click="cancelarPanelNotificacion()">Cancelar</div>
                <div id="enviar" ng-click="enviarNotificacion()">Enviar</div>
            </div>
        </div>
        <div id="disponibilidadYNotificar">
            <h4>Disponibilidad</h4>
            <div id="Notificar" ng-click="abrirPanelNotificacion()" ng-hide="panelNotificacionActivado" >Notificar</div>
            
        </div>
        <div id="myProgress">
            <div id="myBar"></div>
        </div>        
    
            <h4 id="detalleServicio-heading3" style="color:#000000;">Comentarios</h4>
            <div id="contenedorComentarios" ng-repeat="comentarios in comentariosCargados">
                <img src="css/img/userIcon.png" id="imagenUsuario">
                <div id="comentarioUsuario">
                <div style="color:grey;">Hace {{comentarios.tiempo}} minutos.<br>  Disponibilidad: {{comentarios.estado}}</div>
                <div>{{comentarios.comentario}}</div>
                 </div>
                <div id="valoracionComentarioUsuario">
                    <div id="like" ng-click="like('{{comentarios.id}}')"><div style="position: relative;left: 35px;top:6px;color: green;font-weight: bolder;">{{comentarios.like}}</div></div>
                    <div id="dislike" ng-click="dislike('{{comentarios.id}}')"><div style="position: relative;left: 35px;top:6px;color: red;font-weight: bolder;">{{comentarios.dislike}}</div></div>
                </div>

            </div>
            <br>
           
    </ion-content>
</ion-view>

