<ion-view title={{nombreServicio}} id="page10">
    <ion-nav-buttons side="right">
        <button ng-click="mostrarRuta()" class="button button-icon icon ion-android-map" ng-disabled="panelNotificacionActivado">{{botonRuta}}</button >
    </ion-nav-buttons>

    <ion-content padding="true" class="has-header">
        
 
         <div id="contenedor">
            <leaflet data-tap-disabled="true"  width="100%" height="300px" center="center" defaults="defaults" markers="markers" paths="paths" ng-show="botonBuscarRuta" ></leaflet>
            <img src='{{imagenServicio}}' ng-show="botonMostarImagen" id="contenedorImagen">
            <div id="panelNotificacion" ng-show="panelNotificacionActivado">
                <div id="notificacionVacio" ng-click="seleccionDisponibilidad('vacio')">Vacio</div>
                <div id="notificacionMedio" ng-click="seleccionDisponibilidad('medio')">Medio</div>
                <div id="notificacionLleno" ng-click="seleccionDisponibilidad('lleno')">Lleno</div>
                  <form ng-show="notificacionSeleccionada">
                  <h4 id="textoComentario" ng-show="notificacionSeleccionada">Escribe un comentario (opcional)</h4>
                  <input type="text" name="comentario" id="comentario">
                    </form>
                <div id="cancelar" ng-click="cancelarPanelNotificacion()">Cancelar</div>
                <div id="enviar" ng-click="enviarNotificacion()">Enviar</div>
            </div>
        </div>
        <div id="disponibilidadYNotificar">
            <h4>Disponibilidad</h4>
            <div id="Notificar" ng-click="abrirPanelNotificacion()" ng-hide="panelNotificacionActivado" >Notificar</div>
            
        </div>
        <div id="myProgress">
            <div id="myBar"></div>
        </div>        
    
            <h4 id="detalleServicio-heading3" style="color:#000000;">Comentarios</h4>
            <ion-item class="item-icon-left  " id="detalleServicio-list-item19">
                <i class="icon ion-android-contact"></i>Comentaríóo
                <span class="item-note">Hace 2 minutos</span>
            </ion-item>
            <ion-item class="item-icon-left  " id="detalleServicio-list-item20">
                <i class="icon ion-android-contact"></i>Comentario 2
                <span class="item-note">Hace 20 minutos</span>
            </ion-item>
            <ion-item class="item-icon-left  " id="detalleServicio-list-item20">
                <i class="icon ion-android-contact"></i>Comentario 3
                <span class="item-note">Hace 15 minutos</span>
            </ion-item>
    </ion-content>
</ion-view>

