<ion-view title="Detalle Servicio" id="page10">
    <ion-content padding="true" class="has-header">
        <h3 id="detalleServicio-heading1" style="color:#000000;text-align:center;">{{nombreServicio}}</h3>
        <form id="detalleServicio-form5" class="list ">
            <ion-toggle toggle-class="toggle-positive" ng-checked="false" id="detalleServicio-toggle1" ng-model="checked">¿Estoy Aca?</ion-toggle>
        </form>
        <div>
            <img src='{{imagenServicio}}' width="90%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h4 id="detalleServicio-heading2" style="color:#000000;">Caracteristicas</h4>
        <div id="detalleServicio-button-bar2" class=" button-bar "></div>
        <p id="detalleServicio-markdown1" style="color:#000000;">&lt;Iconos de caracteristicas del servicio&gt;</p>
        <h4 id="detalleServicio-heading7" style="color:#000000;">Disponibilidad</h4>
        <form id="detalleServicio-form6" class="list ">
            <ion-item class="range range-positive " id="detalleServicio-range5">
                <input type="range" value="50" min="0" max="100">
            </ion-item>
            <h4 id="detalleServicio-heading8" style="color:#000000;" ng-show="checked">Agregar Notificación de Disponibilidad</h4>
            <div id="detalleServicio-button-bar4" class=" button-bar " ng-show="checked">
                <button id="detalleServicio-button18" class=" button button-balanced  button-block icon ion-android-person "></button>
                <button id="detalleServicio-button19" class=" button button-energized  button-block icon ion-android-people "></button>
                <button id="detalleServicio-button20" class=" button button-assertive  button-block icon ion-ios-people "></button>
            </div>
            <button id="detalleServicio-button21" ui-sref="menu.buscarRuta({tipo:'restaurante',nombre:'{{nombreServicio}}'})" class=" button button-positive  button-block " ng-hide="checked">Buscar Ruta</button>
            <h4 id="detalleServicio-heading3" style="color:#000000;">Comentarios</h4>
            <label class="item item-input " id="detalleServicio-textarea1" ng-show="checked">
                <span class="input-label"></span><textarea placeholder="Escribe aca tu comentario"></textarea>
            </label>
            <button id="detalleServicio-button26" class=" button button-positive  button-block " ng-show="checked">Enviar</button>
            <ion-item class="item-icon-left  " id="detalleServicio-list-item19">
                <i class="icon ion-android-contact"></i>Comentario 1
                <span class="item-note">Hace 2 minutos</span>
            </ion-item>
            <ion-item class="item-icon-left  " id="detalleServicio-list-item20">
                <i class="icon ion-android-contact"></i>Comentario 2
                <span class="item-note">Hace 20 minutos</span>
            </ion-item>
        </form>
    </ion-content>
</ion-view>