<ion-view title="NUBI" id="page15" >
    <ion-pane  >
       
        <leaflet data-tap-disabled="true"  width="100%" height="100%" center="center" defaults="defaults" markers="markers" paths="paths"></leaflet>
        
        <div  id="botonRestaurantes" ng-click="mostrarEnMapa('restaurantes')"></div>
        <div  id="botonFotocopia" ></div>
        <div  id="botonEstudio" ></div>
        <div  id="botonAmigo" ></div>

        <div ng-click="mostrarServicios()" id="botonBusquedaHome"></div>
        <div  id="verLista" ui-sref="menu.listaServicios({tipo:'restaurantes'})">   Ver Lista   </div>

    </ion-pane>
</ion-view>
