<ion-view title="NUBI" id="page15">
    <ion-content padding="true" class="has-header" >
       
        <leaflet width="100%" height="100%" center="center" defaults="defaults" markers="markers" paths="paths"></leaflet>
        
        <div  id="botonRestaurantes" ui-sref="menu.listaServicios({tipo:'restaurantes'})"></div>
        <div  id="botonFotocopia" ui-sref="menu.listaServicios({tipo:'fotocopias'})"></div>
        <div  id="botonEstudio" ui-sref="menu.listaServicios({tipo:'sitiosEstudio'})"></div>

        <div ng-click="mostrarServicios()" id="botonBusquedaHome">

		</div>
    </ion-content>
</ion-view>
