<ion-view title="Lista Grupos" id="page13">
    <ion-content padding="true" class="has-header">
        <ion-list id="listaGrupos-list7" ng-repeat="grupo in gruposCargados">
            <ion-item class="item-avatar  " id="listaGrupos-list-item33" ng-click="irDetalleGrupo('{{grupo}}')">
                <h2>{{grupo}}</h2>
            </ion-item>
        </ion-list>
        <button id="listaGrupos-button22" class=" button button-positive  button-block " ui-sref="menu.crearGrupo">Crear Grupo</button>
    </ion-content>
</ion-view>