<ion-view title="Lista servicios" id="page9">
    <ion-content padding="true" class="has-header">
        <ion-list id="listaServicios-list2">
            <ion-item class="item-thumbnail-left  " ng-repeat="ubicacion in ubicacionesCargadas" ui-sref="menu.detalleServicio({nombre:ubicacion.message, imagen:ubicacion.imagen, disponibilidad:ubicacion.disponibilidadNumerico})">
                <img src='{{ubicacion.imagen}}'>
                <h2>{{ubicacion.message}}</h2>
                <h4 class="textoListaServicios">Disponibilidad: {{ubicacion.disponibilidad}}  </h4>
                <h4 class="textoListaServicios">Relevancia: {{ubicacion.puntaje}}</h4>
                <h4 class="textoListaServicios">Distancia: {{ubicacion.distancia}} metros</h4>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>