<ion-view title="Lista Grupos" id="page13">
    <ion-content padding="true" class="has-header">
        <ion-list id="listaGrupos-list7">
            <ion-item class="item-avatar  " id="listaGrupos-list-item33" ui-sref="menu.grupo">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
        <ion-list id="listaGrupos-list10">
            <ion-item class="item-avatar  " id="listaGrupos-list-item40" ui-sref="menu.grupo">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
        <ion-list id="listaGrupos-list11">
            <ion-item class="item-avatar  " id="listaGrupos-list-item41" ui-sref="menu.grupo">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="listaGrupos-list-item42" ui-sref="menu.grupo">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
        <button id="listaGrupos-button22" class=" button button-positive  button-block ">Crear Grupo</button>
    </ion-content>
</ion-view>