<ion-view title="Notificaciones" id="page16">
    <ion-content padding="true" class="has-header">
        <ion-list id="listaDeAmigos-list4" ng-repeat="notificaciones in notificacionesCargadas">
            <ion-item class="item-avatar  " id="listaDeAmigos-list-item24">
            <img src="img/userAdd.png">
                <h2>{{notificaciones.comentario}}</h2>
                <h4 class="textoListaServicios" ng-click="verDetalles('{{notificaciones.comentario}}')">ver detalles</h4>
                
        </ion-list>
    </ion-content>
</ion-view>