body {
  height: auto;
  min-height: 100%;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}

.item.item-body p {
  margin-top: 0;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}
#botonAmigo{
	width:55px;
    height: 55px;
    border-radius:100%;
    background-color:red;   
    background-size: 30px 30px;
 	position: absolute;
 	right: -100px;
    bottom : 385px;
    box-shadow: 4px 5px 5px grey;

}
#botonRestaurantes{
	width:54px;
    height: 54px;
    border-radius:100%;
    background-color:white; 
    background-image: url(img/restaurantes.png);
 	background-repeat: no-repeat;
    background-position: center;
    background-size: 56px 56px;
 	position: absolute;
 	right: -100px;
    bottom : 305px;
    box-shadow: 4px 5px 5px grey;

}
#botonFotocopia{
	width:55px;
    height: 55px;
    border-radius:100%;
    background-color:blue;   
    background-size: 30px 30px;
 	position: absolute;
 	right: -100px;
    bottom : 225px;
    box-shadow: 4px 5px 5px grey;
   
}
#botonEstudio{
	width:55px;
    height: 55px;
    border-radius:100%;
    background-color:green;   
    background-size: 30px 30px;
 	position: absolute;
 	right: -100px;
    bottom : 145px;
    box-shadow: 4px 5px 5px grey;
    
}
#botonBusquedaHome {
    width:80px;
    height: 80px;
    border-radius:100%;
    background-color:#5690f2;
    background-image: url(img/busqueda.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 20px;
    bottom : 55px;
    box-shadow: 4px 5px 5px grey;
}

#verLista {
    width:40%;
    height: 30px;
    border-radius:12%;
    background-color:white;
    position: absolute;
    right: 35%;
    bottom : -30px;
    box-shadow: 10px 8px 5px grey;
    text-align: center;
    border: 3px solid #4968bd;
    color: #2f395c;
    font-weight: bold;
}
#myProgress {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ddd;
}

#myBar {
  position: absolute;
  width: 1%;
  height: 100%;
  
}
#contenedor {
  
  position:relative;
}
 
#preguntaArriba{
    background-color: #0092D7;
    width: 100%;
    height: 65%;
    display: table;
    text-align: center;
}
#textoPregunta{
    color: white;
    font-family: "Open Sans";
    display: table-cell;
    vertical-align: middle;
    line-height: normal; 
    font-weight: bolder;


}
#respuesta{
    margin-top: 5%;
    margin-left: 5%;
    height: 5%;
    padding: 5%;
    border: 3px solid #0092D7;
    display: inline-block;
    font-size: 200%;
    font-family: "Open Sans";
    font-weight: bolder;
    color: #0092D7;
    line-height: 0px;
    box-shadow: 5px 5px 5px grey;


}

#respuesta.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}
#respuesta.ng-enter-active {
    opacity: 1;
}
#preguntaAtras{
  background-image: url(img/back.png);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 3%;
  top: 4%;
  opacity: 0.7;

}
#textoRegresarPregunta{
  color: white;
  font-family: "Open Sans";
  position: relative;
  left: 60px;
  
}
#rango{
  top: 5%;

}
#contenedorTextoRango{
  position: absolute;
  
}
#numeroPregunta{
  color: white;
  position: absolute;
  top: 58%;
  right: 12%;
}


#contenedorImagen{
  width:100%; 
  height:300px;

}
#disponibilidadYNotificar{
  margin-top: 10px;
  margin-right: 20px;
}
#disponibilidadYNotificar h4{
  display: inline-block;
}
#Notificar {
  width:100px;
  height:30px;
  background-color:#5f7ad8;
  text-align: center;
  border-radius: 40px;
  color: white;
  vertical-align:middle;
  box-shadow: 5px 5px 5px grey;
  float: right;
  line-height: 30px;
  font-family: "Open Sans";
}

#cancelar{
  width:110px;
  height:50px;
  background-color:#fd7171;
  text-align: center;
  border-radius: 40px;
  color: white;
  box-shadow: 5px 5px 5px grey;
  line-height: 50px;
  font-family: "Open Sans";
  position: fixed;
  top: 250px;
  left: 35px;
}
#enviar{
  width:110px;
  height:50px;
  background-color:green;
  text-align: center;
  border-radius: 40px;
  color: white;
  box-shadow: 5px 5px 5px grey;
  line-height: 50px;
  font-family: "Open Sans";
  top: 251px;
  right: 40px;
  position: fixed;
}
#notificacionVacio,#notificacionMedio,#notificacionLleno{
    width:54px;
    height: 54px;
    border-radius:100%;
    background-color:white; 
    background-image: url(img/restaurantes.png);
  background-repeat: no-repeat;
    background-position: center;
    background-size: 56px 56px;
  position: fixed;
  top: 35px;
    box-shadow: 4px 5px 5px grey;
    line-height: 130px;
    text-align: center;
}
#notificacionVacio{
  background-image: url(img/vacio.png);
  margin-left: 10%;
}
#notificacionMedio{
  background-image: url(img/medio.png);    
  margin-left: 40%;
}
#notificacionLleno{
  background-image: url(img/lleno.png);
  margin-left: 70%;
}
#comentario{
  background-color: transparent;
  position: fixed;
  font-weight: bold;
  font-size: 15px;
  top: 180px;
  left: 18%;
  border-bottom: solid 2px black;
  width: 65%;
  height: all;

}
#textoComentario{
  position: fixed;
  top: 130px;
  margin-left: 15%;
  margin-right: 15%;

  text-align: center;

}
